@import 'modules/header.scss';
@import 'modules/accueil.scss';
@import 'modules/accueil.scss';
@import 'modules/competences.scss';
@import 'modules/contact.scss';
@import 'modules/footer.scss';
@import 'modules/portfolio.scss';


@font-face {
    font-family: "go";
    src: url("../fonts/go\ around\ the\ books.ttf");
}

@font-face {
    font-family: "pl";
    src: url("../fonts/Plateia\ Bold.ttf");
}

@font-face {
    font-family: "rocket";
    src: url("../fonts/ROCKET\ WILDNESS.ttf");
}